
.files{
    /* position: absolute; */
    display: inline-block;
    cursor: pointer;
    /* margin: 22% 0% 0% 32%; */
    
}

#input {
    margin: 0;
    opacity: 0;
}

input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
}

.input_labels {
    content: "upload";
    display: block;
    /* position: absolute; */
    margin-top: -20px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: -38.5rem;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: rgb(255, 12, 12);
    background-color: #fff;
    border: 0.075rem solid #ddd;
    border-radius: 0.25rem;
    box-shadow: inset 0 0.2rem 0.4rem rgb(0 0 0 / 5%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* image preview------------ */
.img_pre{
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    /* position: absolute; */
    border:7px solid rgb(208, 207, 210);
    border-radius: 20px;
    margin: 3% 0% 2% 21%;
    background-color: rgb(255, 255, 255);  
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.canva{
    width: 44%;
    height: 90%;
    float: left;
    margin:8px 8px 8px 8px;
    padding: 0% 0% 0% 0%;
    border:7px solid rgb(208, 207, 210);
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
#display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }
#output{
    width: 44%;
    height: 90%;
    margin:8px 8px 8px 8px;
    float: left;
    border:7px solid rgb(208, 207, 210);
    border-radius: 20px;
}


.input_box{
    width: 12%;
    height: 100%;

}

.user_var {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 40%; */
    height: 5%;
    /* position: relative; */
    /* margin: 2px 2px 2px 20%; */
    /* border: 1px solid red; */
}


#d_button{
    width: 100%;
    height: 100%;
    margin:0px 0px 0px 0px;
}



@media only screen and (max-width:620px) {
    .img_pre {
        width: initial;
        margin: 0 0 0 0;
    }
    .input_box {
        width: 50%;
    }
    .user_var {
        margin: 25% 2px 2px 10%;
        width: 80%;
    }
    #d_button {
        margin-left: 9%;
    }
    .input_labels {
            margin-right: 2%;
        }
}